.eventCard {
    width           : 100%;
    margin-bottom   : 10px;
    border-radius   : 8px;
    display         : flex;
    background-color: #27292c;
    color           : white;
    padding         : 20px;
}

.eventPhoto {
    display         : flex;
    justify-content : center;
    align-items     : center;
    height          : 200px;
    width           : 200px;
    border-radius   : 8px;
    background-color: grey;
    overflow        : hidden;
}

.photo {
    object-fit: cover;
    width     : 100%;
    height    : 100%;
}


.eventInfo {
    margin-left   : 20px;
    display       : flex;
    flex-direction: column;
    align-items   : flex-start;
    word-wrap     : break-word;
    word-break    : break-all;
    text-align    : start;
}